@charset "UTF-8";
/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: "rubik-regular", sans-serif;
  background-color: #F3F3F3;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 20px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

/*MAIN*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input:not(input[type=checkbox]):not(input[type=radio]),
textarea {
  color: #333;
  font-family: "rubik-regular", sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

td {
  margin: 0px;
  padding: 0px;
}

form {
  padding: 0px;
  margin: 0px;
}

a {
  color: #2E459C;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
span,
div,
button {
  outline: none !important;
}

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul,
li {
  list-style: none;
}

body.error404 main.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body.error404 .error-404.not-found {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding: 55px 10px 10px;
  text-align: center;
}
body.error404 .error-404.not-found h1 {
  font-weight: 700;
  font-size: 57px;
  font-family: "rubik-regular", sans-serif;
  font-padding-top: 0;
  font-padding-top: 0;
}
body.error404 .error-404.not-found h2 {
  font-weight: 700;
  font-size: 47px;
  font-family: "rubik-regular", sans-serif;
}

@font-face {
  font-family: "rubik-bold";
  src: url("../fonts/rubik/bold/rubik-bold.eot");
  src: url("../fonts/rubik/bold/rubik-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik/bold/rubik-bold.woff2") format("woff2"), url("../fonts/rubik/bold/rubik-bold.woff") format("woff"), url("../fonts/rubik/bold/rubik-bold.ttf") format("truetype"), url("../fonts/rubik/bold/rubik-bold.svg#rubik-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rubik-regular";
  src: url("../fonts/rubik/regular/rubik-regular.eot");
  src: url("../fonts/rubik/regular/rubik-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik/regular/rubik-regular.woff2") format("woff2"), url("../fonts/rubik/regular/rubik-regular.woff") format("woff"), url("../fonts/rubik/regular/rubik-regular.ttf") format("truetype"), url("../fonts/rubik/regular/rubik-regular.svg#rubik-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "co-headline-regular";
  src: url("../fonts/co-headline/regular/co-headline-regular.eot");
  src: url("../fonts/co-headline/regular/co-headline-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/co-headline/regular/co-headline-regular.woff2") format("woff2"), url("../fonts/co-headline/regular/co-headline-regular.woff") format("woff"), url("../fonts/co-headline/regular/co-headline-regular.ttf") format("truetype"), url("../fonts/co-headline/regular/co-headline-regular.svg#co-headline-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "co-headline-bold";
  src: url("../fonts/co-headline/bold/co-headline-bold.eot");
  src: url("../fonts/co-headline/bold/co-headline-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/co-headline/bold/co-headline-bold.woff2") format("woff2"), url("../fonts/co-headline/bold/co-headline-bold.woff") format("woff"), url("../fonts/co-headline/bold/co-headline-bold.ttf") format("truetype"), url("../fonts/co-headline/bold/co-headline-bold.svg#co-headline-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "co-headline-light";
  src: url("../fonts/co-headline/light/co-headline-light.eot");
  src: url("../fonts/co-headline/light/co-headline-light.eot?#iefix") format("embedded-opentype"), url("../fonts/co-headline/light/co-headline-light.woff2") format("woff2"), url("../fonts/co-headline/light/co-headline-light.woff") format("woff"), url("../fonts/co-headline/light/co-headline-light.ttf") format("truetype"), url("../fonts/co-headline/light/co-headline-light.svg#co-headline-light") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #ccc;
}

.mfp-preloader a:hover {
  color: #fff;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #fff;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #fff;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #fff;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
      * Remove all paddings around the image on small screen
      */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
        transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
        transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
/*

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Newspaper effect ======

*/
.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-newspaper .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0) rotate(500deg);
      -ms-transform: scale(0) rotate(500deg);
          transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mfp-newspaper.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0deg);
      -ms-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-newspaper.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0) rotate(500deg);
      -ms-transform: scale(0) rotate(500deg);
          transform: scale(0) rotate(500deg);
  opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Move-horizontal effect ======

*/
.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-horizontal .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
}
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  -webkit-transform: translateX(50px);
      -ms-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Move-from-top effect ======

*/
.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== 3d unfold ======

*/
.mfp-3d-unfold {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-3d-unfold .mfp-content {
  -webkit-perspective: 2000px;
          perspective: 2000px;
}
.mfp-3d-unfold .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(-60deg);
          transform: rotateY(-60deg);
}
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.mfp-3d-unfold.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
  -webkit-transform: rotateY(60deg);
          transform: rotateY(60deg);
  opacity: 0;
}
.mfp-3d-unfold.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Zoom-out effect ======

*/
.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-out .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== "Hinge" close effect ======

*/
@-webkit-keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20%, 60% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
            transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateY(700px);
            transform: translateY(700px);
    opacity: 0;
  }
}
@keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20%, 60% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
            transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateY(700px);
            transform: translateY(700px);
    opacity: 0;
  }
}
.hinge {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: hinge;
          animation-name: hinge;
}

.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  padding: 28px 0;
}
@media screen and (max-width: 991px) {
  .header {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.header__logoWrap {
  width: 228px;
  margin: 0 15px 0 0;
}
@media screen and (max-width: 991px) {
  .header__logoWrap {
    width: 164px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__logoLink {
  display: block;
}
.header__logo {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.header__menuBtnClose {
  display: none;
  background: none;
  border: none;
  padding: 0;
}
@media screen and (max-width: 991px) {
  .header__menuBtnClose {
    display: block;
    position: absolute;
    top: 30px;
    right: 26px;
  }
}
.header__menuBtnCloseIcon {
  width: 18px;
  height: 18px;
  display: block;
}
.header__menuWrap {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 3px 0 0;
}
@media screen and (max-width: 991px) {
  .header__menuWrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: #D9D9D9;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 88px;
    display: none;
  }
  .header__menuWrap.m-active {
    display: block;
  }
}
.header__menuPhone {
  display: none;
  font-family: "rubik-bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .header__menuPhone {
    display: block;
  }
}
.header__menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 991px) {
  .header__menuList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding-top: 74px;
  }
}
@media screen and (max-width: 991px) {
  .header__menuListItem {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.header__menuListItemLink {
  display: block;
  padding: 0 8px;
  text-transform: uppercase;
  color: #2E459C;
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
}
.header__phoneWrapper {
  margin: 0 0 0 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 991px) {
  .header__phoneWrapper {
    margin-left: auto;
    margin-right: 54px;
  }
}
.header__phone {
  display: block;
  font-family: "rubik-bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
}
@media screen and (max-width: 991px) {
  .header__phone {
    font-size: 18px;
  }
}
.header__phoneText {
  display: inline-block;
}
@media screen and (max-width: 991px) {
  .header__phoneText {
    display: none;
  }
}
.header__phoneIcon {
  display: none;
  width: 48px;
  height: 48px;
}
@media screen and (max-width: 991px) {
  .header__phoneIcon {
    display: block;
  }
}
.header__menuBtnWrapper {
  display: none;
}
@media screen and (max-width: 991px) {
  .header__menuBtnWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__menuBtn {
  width: 38px;
  height: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: none;
  border: none;
  padding: 0;
}
.header__menuBtnLine {
  width: 100%;
  height: 3px;
  background-color: #2E459C;
}
.footer {
  padding: 50px 0 0;
  position: relative;
}
@media screen and (max-width: 991px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__item.m-primary {
  width: calc(50% - 100px);
  padding: 0 15px 0 0;
}
@media screen and (max-width: 991px) {
  .footer__item.m-primary {
    width: 100%;
    padding-right: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.footer__item.m-secondary {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: calc(50% - 100px);
  background-color: #ccc;
}
@media screen and (max-width: 991px) {
  .footer__item.m-secondary {
    width: auto;
    position: static;
    height: 254px;
    margin-left: -12px;
    margin-right: -12px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.footer__logoLink {
  display: block;
  margin: 0 0 90px;
}
@media screen and (max-width: 991px) {
  .footer__logoLink {
    margin-bottom: 50px;
    margin-top: 40px;
  }
}
.footer__logo {
  width: 239px;
  height: auto;
  display: block;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.footer__listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 12px;
  color: #2E459C;
  font-family: "rubik-regular", sans-serif;
  font-size: 16px;
}
.footer__listItemIcon {
  width: 40px;
  height: 40px;
  display: block;
}
.footer__listItemText {
  color: #2E459C;
  text-decoration: none;
  padding: 0;
}
.footer__listItemText.m-phone {
  font-size: 20px;
  font-weight: 700;
  padding-top: 9px;
}
.footer__listItemText.m-email {
  font-size: 16px;
  font-weight: 700;
  padding-top: 12px;
}
.footer__listItemText.m-address {
  font-size: 16px;
  font-weight: 400;
  padding-top: 0;
}
.footer__listItemText.m-time {
  font-size: 16px;
  font-weight: 400;
  padding-top: 7px;
}
.footer__listItemText .span {
  font-weight: 700;
}
.footer__copyright {
  font-size: 12px;
  color: #1E1E1E;
  font-family: "rubik-regular", sans-serif;
  padding: 126px 0 20px;
}
@media screen and (max-width: 991px) {
  .footer__copyright {
    padding-top: 46px;
    padding-bottom: 15px;
  }
}
html,
body {
  height: 100%;
}

/* titles */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 15px 0;
}

p {
  font-size: 20px;
  line-height: 1.6;
  color: #2E459C;
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 27px;
  line-height: 1;
  color: #1E1E1E;
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 20px;
  line-height: 1.1;
  color: #1E1E1E;
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  color: #1E1E1E;
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.presentation {
  padding: 120px 0;
  position: relative;
}
@media screen and (max-width: 991px) {
  .presentation {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}
.presentation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 991px) {
  .presentation__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.presentation__imgWrap {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 584px;
  width: 584px;
  margin: 0 30px 0 0;
}
@media screen and (max-width: 991px) {
  .presentation__imgWrap {
    width: 100%;
    margin-right: 0;
  }
}
.presentation__img {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 991px) {
  .presentation__img {
    display: none;
  }
}
.presentation__img.m-secondary {
  display: none;
}
@media screen and (max-width: 991px) {
  .presentation__img.m-secondary {
    display: block;
    width: 100%;
    max-width: 320px;
  }
}
.presentation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 991px) {
  .presentation__content {
    padding-top: 40px;
    width: 100%;
  }
}
.presentation__title {
  color: #2E459C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  padding: 0;
}
@media screen and (max-width: 991px) {
  .presentation__title {
    gap: 15px;
  }
}
.presentation__titleItem.m-primary {
  font-family: "co-headline-bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}
@media screen and (max-width: 991px) {
  .presentation__titleItem.m-primary {
    font-size: 32px;
    margin-bottom: 14px;
  }
}
.presentation__titleItem.m-secondary {
  font-family: "rubik-bold", sans-serif;
  font-size: 72px;
  line-height: 1;
  color: #F36E2F;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .presentation__titleItem.m-secondary {
    font-size: 60px;
  }
}
.presentation__titleItem.m-tertiary {
  font-family: "rubik-bold", sans-serif;
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .presentation__titleItem.m-tertiary {
    font-size: 40px;
    line-height: 1.4;
  }
}
.presentation__circle {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 154px;
  width: 241px;
  height: auto;
  display: block;
}
@media screen and (max-width: 991px) {
  .presentation__circle {
    display: none;
  }
}
.presentation__circle.m-secondary {
  display: none;
}
@media screen and (max-width: 991px) {
  .presentation__circle.m-secondary {
    display: block;
    height: auto;
    width: 128px;
    top: 250px;
  }
}
.presentation .container {
  position: relative;
  z-index: 1;
}
.presentation__btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}
@media screen and (max-width: 991px) {
  .presentation__btnWrap {
    gap: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}
.presentation__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 234px;
  max-width: 355px;
  padding: 12px 0 13px;
  color: #FFFFFF;
  font-family: "co-headline-bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  border: none;
  border-radius: 50px;
  background: -o-linear-gradient(46deg, #04E8F4 28.36%, #2E459C 72.74%);
  background: linear-gradient(44deg, #04E8F4 28.36%, #2E459C 72.74%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 768px) {
  .presentation__btn {
    width: 100%;
  }
}
.presentation__link {
  font-family: "co-headline-bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #1E1E1E;
  text-decoration: none;
  white-space: nowrap;
}
@media screen and (max-width: 991px) {
  .presentation__link {
    margin-left: auto;
    margin-right: auto;
  }
}

.advantages {
  padding: 110px 0 56px;
}
.advantages__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin: 0 0 60px;
}
@media screen and (max-width: 991px) {
  .advantages__header {
    gap: 20px;
  }
}
.advantages__title {
  font-family: "rubik-bold", sans-serif;
  font-size: 30px;
  line-height: 1.4;
  color: #2E459C;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .advantages__title {
    font-size: 20px;
  }
}
.advantages__text {
  font-family: "rubik-regular", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: #1E1E1E;
  text-align: center;
  max-width: 685px;
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 991px) {
  .advantages__text {
    font-size: 16px;
  }
}
.advantages__itemsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 838px;
  margin-right: auto;
  margin-left: auto;
}
.advantages__list {
  margin-left: -5px;
  margin-right: -5px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .advantages__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.advantages__item {
  padding: 0 5px 10px;
}
@media screen and (max-width: 991px) {
  .advantages__item {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    height: 168px;
  }
}
.advantages__item.m-first {
  width: 38%;
  height: 310px;
  margin: 118px 0 0;
}
@media screen and (max-width: 991px) {
  .advantages__item.m-first {
    width: 50%;
    margin: 0;
    height: 168px;
  }
}
.advantages__item.m-second {
  width: 33%;
  margin: 58px 0 100px;
}
@media screen and (max-width: 991px) {
  .advantages__item.m-second {
    width: 50%;
    margin: 0;
  }
}
.advantages__item.m-third {
  width: 29%;
}
@media screen and (max-width: 991px) {
  .advantages__item.m-third {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.advantages__itemInner {
  background-color: #EAEBEE;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 10px 40px;
}
@media screen and (max-width: 991px) {
  .advantages__itemInner {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.advantages__itemInner.m-secondary {
  height: calc(50% - 10px);
  margin-bottom: 10px;
}
@media screen and (max-width: 991px) {
  .advantages__itemInner.m-secondary {
    height: 100%;
    width: calc(50% - 10px);
  }
}
.advantages__itemHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages__itemIcon {
  width: 90px;
  height: 90px;
}
@media screen and (max-width: 991px) {
  .advantages__itemIcon {
    width: 54px;
    height: 54px;
  }
}
.advantages__itemIcon.m-secondary {
  width: 81px;
  height: 81px;
}
@media screen and (max-width: 991px) {
  .advantages__itemIcon.m-secondary {
    width: 54px;
    height: 54px;
  }
}
.advantages__itemIcon.m-tertiary {
  width: 84px;
  height: 84px;
}
@media screen and (max-width: 991px) {
  .advantages__itemIcon.m-tertiary {
    width: 54px;
    height: 54px;
  }
}
@media screen and (max-width: 991px) {
  .advantages__itemIcon.m-fourth {
    width: 45px;
    height: 45px;
  }
}
.advantages__itemText {
  font-family: "co-headline-bold", sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 10px 0 0;
}
@media screen and (max-width: 991px) {
  .advantages__itemText {
    font-size: 16px;
  }
}

.pricing {
  background: url(../images/pricing-bg.png) center center no-repeat;
  background-size: cover;
  padding: 65px 0 32px;
}
.pricing__title {
  color: #2E459C;
  font-family: "rubik-bold", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 40px;
}
@media screen and (max-width: 768px) {
  .pricing__title {
    font-size: 40px;
  }
}
.pricing__list {
  margin-right: -40px;
  margin-left: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 991px) {
  .pricing__list {
    margin-left: -12px;
    margin-right: -12px;
  }
}
@media screen and (max-width: 768px) {
  .pricing__list {
    margin-left: 0;
    margin-right: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.pricing__listItem {
  padding: 0 40px 80px;
  width: 50%;
}
@media screen and (max-width: 991px) {
  .pricing__listItem {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .pricing__listItem {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 66px;
  }
}
.pricing__listItemHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 20px;
  border-bottom: 2px solid #C5C5C5;
}
.pricing__listItemHeaderContentText {
  font-family: "co-headline-light", sans-serif;
  color: #1E1E1E;
  font-size: 24px;
  line-height: 1.4;
  padding: 0 0 5px;
}
.pricing__listItemHeaderContentTextSecondary {
  font-family: "co-headline-bold", sans-serif;
  color: #1E1E1E;
  font-size: 36px;
  line-height: 1.4;
}
.pricing__listItemHeaderContentTextSecondary.m-primary {
  color: #2E459C;
}
.pricing__listItemHeaderContentTextSecondary.m-secondary {
  color: #F36E2F;
}
.pricing__listItemHeaderImgWrap {
  width: 200px;
  height: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 991px) {
  .pricing__listItemHeaderImgWrap {
    width: 164px;
    height: 164px;
  }
}
.pricing__listItemHeaderImg {
  display: block;
  width: 100%;
  height: 100%;
}
.pricing__listItemMiddle {
  border-bottom: 2px solid #C5C5C5;
  padding: 12px 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .pricing__listItemMiddle {
    gap: 5px;
  }
}
.pricing__listItemMiddleItemHeader {
  white-space: nowrap;
  font-family: "co-headline-light", sans-serif;
  color: #1E1E1E;
  font-size: 20px;
  padding: 0 0 10px;
}
@media screen and (max-width: 768px) {
  .pricing__listItemMiddleItemHeader {
    padding-bottom: 20px;
  }
}
.pricing__listItemMiddleItemFooter {
  white-space: nowrap;
  font-family: "co-headline-bold", sans-serif;
  color: #1E1E1E;
  font-size: 30px;
}
.pricing__listItemFooter {
  padding: 30px 0 0;
}
.pricing__listItemFooterTitle {
  font-family: "co-headline-light", sans-serif;
  color: #1E1E1E;
  font-size: 20px;
  line-height: 1.4;
  padding: 0 0 20px;
}
.pricing__listItemFooterTitleSpan {
  font-size: 24px;
}
.pricing__listItemFooterItemRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 20px;
}
.pricing__listItemFooterItem {
  font-family: "co-headline-regular", sans-serif;
  color: #1E1E1E;
  font-size: 24px;
}
.pricing__listItemFooterItem.m-secondary {
  font-family: "co-headline-bold", sans-serif;
  color: #1E1E1E;
  font-size: 30px;
}
.pricing__subtitle {
  font-family: "co-headline-bold", sans-serif;
  color: #2E459C;
  font-size: 30px;
  text-align: center;
  line-height: 1.4;
}

.available {
  padding: 122px 0 50px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .available {
    padding-top: 110px;
    padding-bottom: 60px;
  }
}
.available .container {
  position: relative;
  z-index: 1;
}
.available__imgBg {
  position: absolute;
  left: 0;
  top: 246px;
  height: auto;
  width: 370px;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .available__imgBg {
    left: -40px;
    top: 308px;
    width: 240px;
  }
}
.available__title {
  color: #2E459C;
  font-family: "rubik-bold", sans-serif;
  font-size: 36px;
  line-height: 1.4;
  max-width: 60%;
  padding: 0 0 70px;
}
@media screen and (max-width: 991px) {
  .available__title {
    max-width: 100%;
    font-size: 32px;
    padding-bottom: 50px;
  }
}
.available__title .accent {
  color: #F36E2F;
  text-transform: uppercase;
}
.available__list {
  position: relative;
}
.available__list .slick-btn {
  position: absolute;
  top: calc(50% - 40px);
}
@media screen and (max-width: 768px) {
  .available__list .slick-btn {
    top: 130px;
  }
  .available__list .slick-btn svg {
    width: 20px;
  }
}
.available__list .slick-prev {
  left: 0;
}
.available__list .slick-next {
  right: 0;
}
.available__listItemInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .available__listItemInner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.available__listItemImgWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .available__listItemImgWrap {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
.available__listItemImg {
  display: block;
  width: 90%;
  height: auto;
}
@media screen and (max-width: 991px) {
  .available__listItemImg {
    max-width: 390px;
  }
}
@media screen and (max-width: 768px) {
  .available__listItemImg {
    max-width: 274px;
  }
}
.available__listItemContent {
  margin-top: -70px;
}
@media screen and (max-width: 768px) {
  .available__listItemContent {
    width: 100%;
    margin-top: 0;
  }
}
.available__listItemContentTitle {
  color: #1E1E1E;
  font-family: "co-headline-bold", sans-serif;
  font-size: 48px;
  line-height: 1.4;
  margin: 0;
  padding: 0 0 12px;
}
.available__listItemContentListItem {
  color: #1E1E1E;
  font-family: "co-headline-bold", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  padding-bottom: 12px;
  padding-left: 26px;
  position: relative;
}
.available__listItemContentListItem:before {
  content: "·";
  font-size: 60px;
  vertical-align: middle;
  line-height: 1;
  color: #2E459C;
  position: absolute;
  left: 0;
  top: -20px;
}
.available__btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -20px;
}
@media screen and (max-width: 768px) {
  .available__btnWrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
  }
}
.available__btn {
  color: #2E459C;
  font-family: "co-headline-bold", sans-serif;
  font-size: 20px;
  line-height: 1.4;
}
.available__icon {
  width: 60px;
  height: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 0 0 20px;
}

.formWrapper {
  padding: 50px 0 50px;
}
.formWrapper__title {
  text-transform: uppercase;
  text-align: center;
  color: #2E459C;
  font-family: "rubik-bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.4;
  padding: 0;
}
@media screen and (max-width: 991px) {
  .formWrapper__title {
    font-size: 36px;
    padding-bottom: 40px;
  }
}
.formWrapper__subtitle {
  text-align: center;
  color: #2E459C;
  font-family: "rubik-regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  padding: 0 0 40px;
}
@media screen and (max-width: 991px) {
  .formWrapper__subtitle {
    display: none;
  }
}
.formWrapper__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -12px;
  margin-right: -12px;
}
@media screen and (max-width: 991px) {
  .formWrapper__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }
}
.formWrapper__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
}
@media screen and (max-width: 991px) {
  .formWrapper__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.formWrapper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.formWrapper__listItem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 33px 44px;
  background-color: #EAEBEE;
  border-radius: 25px;
  color: #2E459C;
  font-family: "co-headline-bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
}
@media screen and (max-width: 991px) {
  .formWrapper__listItem {
    padding: 25px 25px 35px 35px;
    font-size: 16px;
  }
}
.formWrapper__listItem:before {
  content: "";
  display: block;
  width: 48px;
  height: 29px;
  background: url(../images/check.svg) center center no-repeat;
  background-size: 100% 100%;
  margin-right: 33px;
}
@media screen and (max-width: 991px) {
  .formWrapper__listItem:before {
    width: 37px;
    height: 22px;
    margin-right: 22px;
  }
}
.formWrapper__footer {
  padding: 60px 0 0;
}
.formWrapper__footerDelimiter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  color: #2E459C;
  text-align: center;
  font-family: "rubik-regular", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.formWrapper__footerDelimiter:before, .formWrapper__footerDelimiter:after {
  content: "";
  height: 3px;
  background-color: #DDDDDD;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.formWrapper__footerTitle {
  padding: 30px 0 0;
  color: #2E459C;
  text-align: center;
  font-family: "rubik-bold", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
@media screen and (max-width: 991px) {
  .formWrapper__footerTitle {
    font-size: 24px;
  }
}
.formWrapper__footerLinkWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.formWrapper__footerLink {
  padding: 20px 0 0;
  color: #2E459C;
  text-align: center;
  font-family: "rubik-bold", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .formWrapper__footerLink {
    font-size: 24px;
  }
}

.container {
  max-width: 1164px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.container.wide {
  max-width: 1464px;
}

body.navigation-opened {
  overflow: hidden;
}

.slick-btn {
  background: none;
  border: none;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */
